@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 5%;
    --foreground: 0 0% 100%;
    --card: 240 10% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 248 47% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 248 47% 67%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 10% 25%;
    --muted-foreground: 240 5% 55%;
    --accent: 158 64% 37%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 10% 20%;
    --input: 240 10% 15%;
    --ring: 248 47% 50%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
